* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: rgb(176, 9, 9);
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
:after,
:before {
  box-sizing: border-box;
  outline: none;
}

body {
  margin: 0 auto;
  /* padding: 0px 9px 0px 3px; */
}
body._lock {
  overflow: hidden;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 25px 25px;
  background: #eaeaf2;
  /* position: relative; */
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: center;
  max-width: 618px;
  max-height: 85px;
}
.header__row-item {
  text-transform: uppercase;
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  margin: -15 0 0 0;
  font-family: ARIAL;
  letter-spacing: 1.6px;
  position: relative;
}
.header__row-item a {
  display: block;
  position: relative;
  color: #000100;
}
.header__row-item a:hover {
  color: #e68508;
}

.header__row-item a::after {
  background-color: #d08235;
  border-radius: 100px;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 106%;
  transition: opacity 0.2s linear;
  width: 100%;
  z-index: 1;
}
.header__row-item a:hover:after {
  opacity: 1;
}
.header__row-item a:active {
  color: #000000;
}

.logo {
  max-width: 100%;
}
.header {
}
.header__image {
  width: 100%;
  object-fit: contain;
}

.box__about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 470px;
  flex: 1 1 auto;
  background-color: #d8d7d7;
  background-image: url(../assets/boxFourth/Icon.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
}

.box__about-container {
  max-width: 1109px;
  padding: 0px 20px 0px 20px;
  /* max-height: 150px; */
}

.items__title {
  color: #353738;
  font-family: arial;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  padding: 0 0 30 0;
}
.items__description {
  color: #848789;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.box__description {
  display: flex;
  flex: 1 1 auto;
}
.box__description-leftSide {
  display: flex;
  width: 60%;
  max-height: auto;
  position: relative;
}
.box__description-leftSide img {
  object-fit: cover;
  width: 100%;
  max-height: 1000px;
}
.LogoImageLayerBox {
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
}

.LogoImageLayer img {
  max-width: 150px;
  max-height: 150px;
}
.box__description-RightSide {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 3%;
}
.box__description-RightSide-wrapper {
  flex: 1 1 auto;
  position: relative;
}
.box__description-RightSide-wrapper::after {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid white;
  z-index: 3;
}
.box__description-RightSide-container {
  max-width: 410px;
  height: 238px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  padding: 0px 10px 0px 10px;
}

.box__description-RightSide-itemOne {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.box__description-RightSide-itemTwo {
  padding: 31 0 0 0;
  text-align: center;
  color: #353738;
  font-family: arial;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.dbox__description-RightSide-itemThree {
  max-width: 410px;
  margin: 0 auto;
}
.box__description-RightSide-itemThree p {
  padding: 20 0 0 0;
  color: #848789;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-align: justify;
}
.box__description-RightSide-image {
  width: 100%;
}
.box__description-RightSide-image img {
  width: 100%;
}

.box__description-RightSide-itemFourLine {
  margin-bottom: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.mirror {
  flex-flow: row-reverse;
}
.boxGalary {
}
.boxGalary-Wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
}
.boxGalary-left {
  width: 100%;
  position: relative;
}
.boxGalary-left img {
  width: 100%;
  object-fit: contain;
}
.boxGalary-leftLogo {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 200px;
  height: 200px;
}
.boxGalary-leftLogo img {
  width: 100%;
}

.boxGalary-Right {
  width: 100%;
}
.boxGalary-Right img {
  width: 100%;
  object-fit: contain;
}
.boxGalary-Center {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wr {
  max-width: 380px;
  max-height: 360px;
  height: 100%;
  margin-top: 4%;
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.boxGalary-CenterImage {
  width: 100%;
  height: 35%;
}
.boxGalary-CenterImage img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.container__galary {
  width: 100%;

  display: flex;
  flex-direction: row;
}
.item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 35%;
}
.item img {
  width: 50%;
  object-fit: cover;
}
.image__down {
  width: 100%;
}
.image__down img {
  width: 100%;
  object-fit: cover;
}
.right {
  position: relative;
}
.logo__right {
  width: 100px;
  height: 50px;
  position: absolute;
  top: 18%;
  left: 40%;
}
.logo__right p {
  text-transform: uppercase;
  color: aliceblue;
  margin: 0px;
  font-size: 14px;
}
.logo__right img {
  margin-left: 15px;
  width: 40%;
  height: 40%;
  object-fit: contain;
}
.hoverNav {
  margin-top: 20px;
}
@media screen and (min-width: 210px) and (max-width: 766px) {
  .container__galary {
    flex-direction: column;
    height: auto;
  }
  .item {
    width: 100%;
    padding-bottom: 5px;
    justify-content: space-between;
  }
  .item img {
    width: 48%;
    border-radius: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px rgb(18, 17, 17);
  }
  .image__down {
    width: 100%;
  }
  .image__down img {
    width: 99%;
  }
  .logo__right {
    width: 150px;
    height: 100px;
  }
  .logo__right p {
    font-size: 20px;
  }
  .logo__right img {
    width: 50%;
    height: 50%;
  }
}

.box6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  background-color: #f7f7f7;
  width: 100%;
  height: 469px;
}
.items {
  padding: 23px 0 0 0;
  text-align: center;
}

.image {
  margin: 100 0 20 0px;
}
.title {
  font-family: Arial;
}

.title span:first-child {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.8px;
}

.title span:last-child {
  color: #848789;
  font-weight: 400;
  letter-spacing: 1.8px;
  font-size: 16px;
}

.description {
  color: #848789;
  font-family: ARIAL;
  font-size: 24px;
  font-style: italic;
  line-height: 34px;
  text-align: center;
  width: 100%;
  height: 95px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 1);
  margin: 90px 8px 24px 0px;
}

.dot:hover:nth-child(1) {
  background-color: #a9afb3;
}
.dot:hover:nth-child(2) {
  background-color: #a9afb3;
}
.dot:hover:nth-child(3) {
  background-color: #a9afb3;
}

.discover__the__shop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 190px;
  background-color: #282f35;
  color: #ffffff;
  font-family: ARIAL;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}
.button {
  border: 1px solid #e74c45;
  background-color: #282f35;
  padding: 20px 60px 20px 60px;
}
.stayonthesaddle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 350px;
}
.stay__img {
  margin-top: 50px;
}
.stay__text {
  color: #848789;
  font-family: Arial;
  font-style: italic;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 39 0 0 0;
}
.FormGo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stay__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  height: 69px;
  background-color: #64c29e;
  margin: 0 0 0 6;
  overflow: hidden;
}
.stay__button p {
  color: #ffffff;
  font-family: Lato;
  font-size: 25px;
  font-weight: 100;
  line-height: 24px;
}

.stay_form {
  width: 400px;
  height: 70px;
  display: block;
  font-family: inherit;
  font-family: Arial;
  border: 1px solid #d3d7d9;
  background-color: #ffffff;
  border-radius: 0.25rem;
  padding-left: 50px;
  padding-top: 5px;
}
.stay_form::placeholder {
  color: #212529;
  opacity: 0.4;
  color: #929292;
  font-family: Lato;
  font-size: 26px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
  margin-left: -50px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 260px;
}
.footer__left__place__coordinates {
  display: block;
  width: 286px;
  height: 48px;
}
.footer__left__place__coordinates p {
  margin-bottom: 3px;
}
.footer__left__place__coordinates p:first-child {
  color: #848789;
  font-size: 17px;
  font-weight: 700;
}
.footer__left__place__coordinates p:nth-child(2) {
  font-style: italic;
  color: #848789;
  font-size: 15px;
  font-weight: 300;
}
.footer__left__place__coordinates p:last-child {
  font-style: italic;
  color: #848789;
  font-size: 15px;
  font-weight: 300;
}

.foter_social_img {
  display: flex;
  flex-direction: row;
  width: 145px;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  margin-right: 140px;
}

.footer_right__place__description {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.footer_right__place__description p {
  color: #848789;
  font-family: Lato;
  font-size: 14px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 17.87px;
}
.yeboo {
  margin-left: 7px;
}

@media screen and (min-width: 200px) and (max-width: 400px) {
  .box__about {
    height: auto;
  }
  .items__title {
    margin-bottom: 8px;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.6px;
    margin-top: 15px;
  }
  .items__description {
    margin-bottom: 15px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
  }
  .box__description {
    flex-direction: column;
  }
  .box__description-leftSide {
    width: 100%;
  }
  .box__description-RightSide-container {
    height: auto;
  }
  .box__description-RightSide-itemThree p {
    padding: 20 0 0 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
  }
  .box__description-RightSide-itemTwo {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.6px;
    margin-top: 10px;
  }
  .LogoImageLayerBox {
    max-width: 50px;
    max-height: 50px;
    top: 40%;
    left: 40%;
  }
  .box__description-RightSide-itemOne {
    width: 25px;
    height: 25px;
  }
  .box__description-RightSide-itemOne img {
    width: 100%;
    height: 100%;
  }
  .box__description-RightSide-itemFourLine {
    margin: 5px 0px 15px 0px;
  }
  .boxGalary-Wrapper {
    flex-direction: column;
  }
  .boxGalary-leftLogo {
    position: absolute;
    top: 40%;
    left: 35%;
    width: 100px;
    height: 100px;
  }
  .logo__right {
    width: 70px;
    height: 70px;
  }
  .logo__right p {
    font-size: 10px;
    margin-left: 5px;
    margin-top: -8px;
  }
  .description {
    color: #848789;
    font-family: ARIAL;
    font-size: 14px;
    font-style: italic;
    line-height: 14px;
    text-align: center;
    width: auto;
    height: 95px;
  }
  .box6 {
    height: auto;
  }

  .box__about {
    border-radius: 7%;
  }
  .footer {
    border-radius: 7%;
  }
  .box__description {
    border-radius: 7%;
  }
  .boxGalary {
    border-radius: 7%;
  }
  .container__galary {
    border-radius: 7%;
  }
  .box6 {
    border-radius: 5%;
  }
  .discover__the__shop {
    border-radius: 7%;
  }
  .stayonthesaddle {
    border-radius: 7%;
  }
  img {
    border-radius: 8%;
  }
  body {
    padding: 0% 5%;
  }
  .image {
    margin-top: 20px;
  }
  .dot {
    margin: 0px 5px 24px 0px;
    height: 4px;
    width: 4px;
  }
  .title span:first-child {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;
  }
  .discover__the__shop {
    border-radius: 7%;
    padding: 0px 5px;
  }
  .button p {
    text-align: center;
  }
  .stay__img {
    margin-top: 6%;
    width: 70px;
    height: 70px;
  }
  .stay__img img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .stayonthesaddle {
    height: 250px;
  }
}
@media screen and (min-width: 200px) and (max-width: 570px) {
  .stay_form {
    width: 95%;
    height: 50px;
    padding-left: 0px;
  }
  .stay__button {
    width: 100px;
    height: 50px;
    /* margin-right: 35px; */
  }
  .FormGo {
    width: 85%;
    margin-left: 10%;
  }
  form {
    width: 95%;
  }
}
.burger {
  display: none;
}
@media screen and (min-width: 100px) and (max-width: 600px) {
  .foter_social_img {
    margin-right: 0px;
    order: -1;
    width: 90%;
    height: 30%;
    margin-top: 3%;
    justify-content: center;
  }
  .footer {
    flex-direction: column;
  }
  .itms {
    width: 60px;
    height: 60px;
    margin-right: 10px;
  }
  .itms img {
    object-fit: cover;
    width: 100%;
    height: auto;
  }
  .footer__left__place__coordinates p {
    padding-left: 30%;
  }
  .footer_right__place__description {
    margin-top: 5%;
  }
}
@media screen and (min-width: 401px) and (max-width: 1330px) {
  .boxGalary-Wrapper {
    flex-direction: column;
    /* height: 500px; */
  }
}
@media screen and (min-width: 100px) and (max-width: 600px) {
  .menu__icon {
    display: none;
  }
  .menu__body {
  }
  .menu__list {
  }
  .menu__list > li {
    position: relative;
    margin: 0px 0px 0px 20px;
  }
  .menu__link {
    color: #fff;
    font-size: 18px;
  }
  .menu__link:hover {
    text-decoration: underline;
  }
  .menu__sub-list {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #000;
    padding: 15px;
    min-width: 200px;
  }
  .menu__sub-list li {
    margin: 0px 0px 10px 0px;
  }
  .menu__sub-list li:last-child {
    margin: 0;
  }
  .menu__sub-link {
    color: #fff;
  }
  .menu__sub-link:hover {
    text-decoration: underline;
  }
  .menu__arrow {
    display: none;
  }
  /* ----------------------- */
  body._pc .menu__list > li:hover .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
  body._touch .menu__list > li {
    display: flex;
    align-items: center;
  }
  body._touch .menu__link {
    flex: 1 1 auto;
  }
  body._touch .menu__arrow {
    display: block;
    width: 0;
    height: 0;
    margin: 0px 0px 0px 5px;
    transition: transform 0.3s ease 0s;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #fff;
  }

  body._touch .menu__list > li._active .menu__sub-list {
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
  body._touch .menu__list > li._active .menu__arrow {
    transform: rotate(-180deg);
  }

  /* ----------------------- */
  .burger {
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-bottom: 20px;
    position: sticky;
    z-index: 5;
  }

  .menu__list {
  }
  .menu__list > li {
    padding: 10px 0;
  }
  .menu__sub-list {
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }

  .menu__icon {
    z-index: 5;
    display: block;
    position: fixed;
    width: 40px;
    height: 18px;
    cursor: pointer;
    top: 3%;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 100px 30px 30px 30px;
    transition: left 0.7s ease 0.4s;
    overflow: auto;
  }
  .menu__body._active {
    left: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #423e45;
    z-index: 2;
  }

  .menu__list > li {
    flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 24px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
  .header__row {
    display: none;
  }
  header {
    padding: 0px;
  }
}
form input {
  font-size: 30px;
}
