* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
.body {
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1 1 auto;
  /* min-width: 1375px; */
  /* align-items: center;
  justify-content: center; */
  /* max-width: 1859px; */
}

header {
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
  padding: 25px 25px;
  background: #eaeaf2;
  /* background-image: url(../assets/Layer_7.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100% 100%;
  justify-content: center;
  padding: 25px;  */
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: center;
  max-width: 618px;
  max-height: 85px;
}
.header__row-item {
  text-transform: uppercase;
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  margin: -15 0 0 0;
  font-family: ARIAL;
  letter-spacing: 1.6px;
}

.logo {
  max-width: 100%;
}
.header {
  /* max-width: 100%;
  max-height: 100%; */
}
.header__image {
  width: 100%;
  object-fit: contain;
}

.box__about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 470px;
  flex: 1 1 auto;
  background-color: #d8d7d7;
  background-image: url(../assets/Icon.png);
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto;
}

.box__about-container {
  max-width: 1109px;
  max-height: 150px;
}

.items__title {
  color: #353738;
  font-family: arial;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  text-align: center;
  padding: 0 0 30 0;
}
.items__description {
  color: #848789;
  font-family: Arial;
  font-size: 18px;
  font-weight: 400;
  line-height: 34px;
  text-align: center;
}

.box__description {
  display: flex;
  flex: 1 1 auto;
  /* justify-content: center;
  align-items: center; */
  /* height: auto; */
}
.box__description-leftSide {
  display: flex;
  width: 60%;
  max-height: auto;
  position: relative;
}
.box__description-leftSide img {
  object-fit: cover;
  width: 100%;
  max-height: 1000px;
}
.LogoImageLayerBox {
  max-width: 150px;
  max-height: 150px;
  position: absolute;
  top: 40%;
  left: 40%;
}

.LogoImageLayer img {
  max-width: 150px;
  max-height: 150px;
}
.box__description-RightSide {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding-top: 3%;
}
.box__description-RightSide-wrapper {
  flex: 1 1 auto;
  position: relative;
}
.box__description-RightSide-wrapper::after {
  content: "";
  position: absolute;
  left: calc(50% - 10px);
  bottom: -20px;
  border: 10px solid transparent;
  border-top: 10px solid white;
  z-index: 10;
}
.box__description-RightSide-container {
  max-width: 410px;
  height: 238px;
  margin: 0 auto;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.box__description-RightSide-itemOne {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.box__description-RightSide-itemTwo {
  padding: 31 0 0 0;
  text-align: center;
  color: #353738;
  font-family: arial;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
.dbox__description-RightSide-itemThree {
  max-width: 410px;
  margin: 0 auto;
}
.box__description-RightSide-itemThree p {
  padding: 20 0 0 0;
  color: #848789;
  font-family: Arial;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  text-align: justify;
}
.box__description-RightSide-image {
  width: 100%;
}
.box__description-RightSide-image img {
  width: 100%;
}

.box__description-RightSide-itemFourLine {
  margin-bottom: 50px;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.mirror {
  flex-flow: row-reverse;
}
.boxGalary {
}
.boxGalary-Wrapper {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  justify-content: space-between;
}
.boxGalary-left {
  width: 100%;
}
.boxGalary-left img {
  width: 100%;
  object-fit: contain;
}

.boxGalary-Right {
  width: 100%;
}
.boxGalary-Right img {
  width: 100%;
  object-fit: contain;
}
